.logo{
    width:100%;
    -webkit-transform: rotate(-7deg); /* Safari */
    transform: rotate(-7deg);
    padding-bottom: 50px;
}
.link{
    background-color: #fff;
    width: 50%;
}
.social-media{
    padding-top: 40px;
    padding-left: 5%;
}
body{
    background-color: #000;
}
.header{
    color: #fff;
}
.shows{
    color: #000;
}
.mobile-logo{
    width:25%;
}
.twitter{
    display:flex;justify-content:center;align-items:center;
}
@media only screen and (max-width: 992px){
    .logo{
        display: none;
    }
    .mobile-logo{
        display:flex;justify-content:center;align-items:center;
    }
}